@use "tailwindcss";
@use "./variables";
@use "./mixins";

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.card {
  background-color: var(--bg-surface);
  border: 1px solid var(--border-color);
}
