services:
  postgres:
    image: postgres:16
    container_name: task-manager-postgres
    restart: unless-stopped

    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: task_manager

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d task_manager"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
